  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    padding:10px;
    box-shadow:5px 5px 5px grey;
    float:none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .footer{
   position:fixed;
   color:white;
   bottom:0;
   width:100%;
   background-color: rgb(127, 214, 255);
   text-align:center;
 }
 canvas{
   border:10px ridge rgb(95, 186, 238);
   box-shadow:5px 5px 5px rgb(37, 53, 201);
   margin-top:140px;
 }